
.fooditem {
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    background: white;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.034);
    cursor: pointer;
}

.fooditem-selected {
    border: 1px solid black;
}

.fooditem-soldout {
    opacity: 0.5;
    cursor: default;
}